services:
  mlops-api:
    build: .
    image: javiprietod/mlops-api
    platform: linux/amd64
    container_name: mlops-api
    ports:
      - "5001:5001"
    restart: always

  mlops-web:
    image: javiprietod/mlops-web
    platform: linux/amd64
    container_name: mlops-web
    ports:
      - "8501:8501"
    environment:
      - API_URL=http://mlops-api:5001/predict
    depends_on:
      - mlops-api
    restart: always

  prometheus:
    image: prom/prometheus:latest
    platform: linux/amd64
    container_name: prometheus
    volumes:
      - ./prometheus.yaml:/etc/prometheus/prometheus.yml
    ports:
      - "9090:9090"
    restart: unless-stopped

  grafana:
    image: grafana/grafana:latest
    platform: linux/amd64
    container_name: grafana
    ports:
      - "3000:3000"
    environment:
      - GF_SECURITY_ADMIN_PASSWORD=admin
    depends_on:
      - prometheus
    volumes:
      - grafana-storage:/var/lib/grafana
      - ./grafana-provisioning:/etc/grafana/provisioning
    restart: unless-stopped

volumes:
  grafana-storage:
